* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  font-family: "Source Code Pro", monospace;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
}

.logo img {
  height: 100px;
  width: auto;
  border: 3px solid #fff;
  border-radius: 20px;
}

.imageLinkForm {
  padding: 30px 0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.inputForm {
  width: 700px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
  border-radius: 10px;
}

input {
  width: 500px;
  height: 50%;
  font-size: 15px;
  padding: 0 5px;
}

button {
  width: 100px;
  height: 50%;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  border: none;
  color: #fff;
  font-size: 15px;
}

.faceDetection {
  position: relative;
  /* display: inline-block; */
}

#detect_img {
  width: 500px;
  height: auto;
}

#box {
  border: 1px solid white;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  position: absolute;
}
